/* common style part start  */
*{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
.container{
    width: 60%;
    margin: 0 auto;
}
/* common style part end  */


/* login page part start  */
.login__main{
    display: flex;
    /* background-color: wheat */
}
.login__banner img{
    width: 400px;
}
.login__form form{
}
.login__form{
    padding-left: 30px;
}
.login__form form h2{
    font-weight: 900;
    font-size: 50px;
}
.login__form form p{
    padding-top: 30px;
    font-weight: 600;
    color: rgba(79, 79, 79, 0.862);
}
.login__form form input{
    border: none;
    padding: 15px 0;
    outline: none;
    width: 400px;
}
.login__form form input:focus {
    /* border: none; */
}
.login__form form input::placeholder{
    color: gray;
    font-size: 20px;
}
.checkbox{
    width: 0px;
}
.login__form form button{
    font-weight: 600;
    color: white;
    padding: 10px 45px;
    background-color: rgb(234, 112, 133);
    border: transparent;
    border-radius: 50px;
}
.login__form_btn a{
    padding-left: 200px;
}
#checktik{
    width: 16px;
}
.terms{
    display: inline-block;
    padding: 30px;
}


/* login page part end  */